# **Demographic Data Analyzer**

In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database.

You must use Pandas to answer the following questions:

1. How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (`race` column)
2. What is the average age of men?
3. What is the percentage of people who have a Bachelor's degree?
4. What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
5. What percentage of people without advanced education make more than 50K?
6. What is the minimum number of hours a person works per week?
7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
8. What country has the highest percentage of people that earn >50K and what is that percentage?
9. Identify the most popular occupation for those who earn >50K in India.

### Loading the data and libraries

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/RyanSaul85/freeCodeCamp/main/adult.data.csv'

df = pd.read_csv(url)

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (`race` column)

In [3]:
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### 2. What is the average age of men?

In [4]:
df_men = df[df['sex'] == 'Male']
average_age_men = round(df_men['age'].mean(),1)
average_age_men

39.4

### 3. What is the percentage of people who have a Bachelor's degree?

In [5]:
df_education = df['education']
df_bachelors = df_education[df_education == 'Bachelors']

percentage_bachelors = round(df_bachelors.count()/df.shape[0] * 100 , 1)
percentage_bachelors

16.4

### 4. What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [6]:
df['salary'].value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [7]:
higher_education = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [8]:
higher_education_rich = round((higher_education['salary'] == '>50K').sum() / len(higher_education) * 100, 1)
higher_education_rich

46.5

### 5. What percentage of people without advanced education make more than 50K?

In [9]:
lower_education = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [10]:
lower_education_rich = round((lower_education['salary'] == '>50K').sum() / len(lower_education) * 100, 1)
lower_education_rich

17.4

### 6. What is the minimum number of hours a person works per week?

In [11]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

### 7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [12]:
num_min_workers = df.loc[df['hours-per-week'] == min_work_hours]
num_min_workers.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
1036,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K
1262,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5590,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5632,45,?,189564,Masters,14,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K

In [13]:
rich_percentage = round((num_min_workers['salary'] == '>50K').sum() / len(num_min_workers) * 100, 1 )
rich_percentage

10.0

### 8. What country has the highest percentage of people that earn >50K and what is that percentage?

In [33]:
earning_country = df[df.salary==">50K"].groupby(['native-country']).count()['salary']
earning_country_percentage = round((earning_country / df['native-country'].value_counts() *100),1).sort_values(ascending=False)

In [34]:
highest_earning_country = earning_country_percentage.idxmax()
highest_earning_country_percentage = earning_country_percentage.max()

print(highest_earning_country)
print(highest_earning_country_percentage)

Iran
41.9

### 9. Identify the most popular occupation for those who earn >50K in India.

In [36]:
top_IN_occupation = df[(df['native-country'] == "India") & (df['salary']==">50K")]['occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'